/*====================
=======Structure======
======================*/

body{
    background-color: 	hsl(48, 90%, 60%);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

main{
    margin: 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

.main-element{
    margin-bottom: 2em;
}

.footer-element{
    margin-bottom: 1em;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: 	hsl(219, 14%, 25%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
========Logo=========
======================*/

.logo{
    display: flex;
    flex-direction: row nowrap;
    width: max-content;
}

.logo svg{
    height: 4em;
    width: 4em;
}

/*.logo svg path{
    fill:hsl(19, 100%, 50%);
}*/

/*====================
========Title=========
======================*/

.title{
    margin-left: 1em;
}

.title h1{

    font-family: 'Dancing Script';
    font-weight: 400;
    text-align: left;
}

.menu-icon
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 30px;
}

.menu-icon__element
{
    width: 30px;
    height: 2px;
    background-color: hsl(0, 0%, 0%);
    margin-bottom: 0.3em;
}
/*====================
========Subtitle======
======================*/

.subtitle{
    border-left: 5px #fff solid;
    border-right: 5px #fff solid;
    margin-bottom: 5em;
    width: 100%;
}

.subtitle h2{
    text-align: center;
}

/*====================
=========CRUD=========
======================*/

.crud{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.crud__table, .crud__form{
    min-width: 45%;
    max-width: 45%;
}
.crud__table
{
    display: flex;
    justify-content: center;
}
.crud__table table
{
    width:100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    font-family: 'Ubuntu';
    color:hsl(219, 14%, 25%);
}
.crud__table table th
{
    background-color:hsl(0, 0%, 100%);
}
.crud__table table th td
{
    font-size: 0.5rem;
}
.crud__table table,th,td
{
    border: 0.2em solid hsl(0, 0%, 100%);
}
.crud__table table th,td
{
    width: 100%;
    max-width: 100%;
    padding: 1em;
}
.crud__table table td
{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.crud__table-grid-element{
    width: 100%;
}

.crud__table-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.crud__table-flex-element{
    flex-basis: 25%;
}

.crud__form{
    width: 100%;
}

.crud__form-element{
    margin-bottom: 1em;
    width: 100%;
}

.crud__form-inputs{
    width: 100%;
    margin: 1rem 0;
}
textarea
{
    resize: none;
    height: 15vh;
}
.crud__form-inputs input, 
.crud__form-inputs textarea,
.crud__form-inputs select {
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.2rem;
	border-bottom: 1px solid hsl(0, 0%, 73%);
	box-sizing: border-box;
    color: 	hsl(219, 14%, 25%);
	font-family: "Ubuntu";
	font-weight: 600;
	padding: 0.5em 0.5em;
    width: 100%;
    margin: 1em 0;
}
.crud__form-inputs input[type="date"]
{
    font-size: 0.85em;
}
.crud__form-inputs select
{
    font-size: 0.92em;
}
.crud__form-inputs input[type="radio"], input[type="checkbox"]
{
    width: 1em;
    height: 1em;
}
form label
{
    font-family: "Ubuntu";
    color: hsl(219, 14%, 25%);
    font-size: 1.3rem;
}
.row
{
    display: flex;
    justify-content: space-around;
}
.crud__form-inputs .row
{
    margin: 1em 0;
}
.crud__form-inputs input:focus, .crud__form-inputs textarea:focus{
	outline: none;
}

.crud__form-inputs select, .crud__form-inputs select:focus, .crud__form-inputs select:active { 
	outline: 0 !important; 
}

.crud__store-button{
	background-image: linear-gradient(to right, #b39cc9 0%, #ffffff 50%, #b39cc9 100%);
    background-size: 200% auto;
    border-radius: 1em;
    border: none;
    color:hsl(219, 14%, 25%);
    cursor: pointer;
    font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 0px;
    margin-top: 1em;
	min-width: 20%;
	padding: 1em 2em;
	transition: 0.5s;
	text-decoration: none;
}

.crud__store-button:hover{
    background-size: 100% auto;
}

.crud__store-button:focus {
	outline: 0;
}

.footer-element{
    width: 100%;
}

.footer-element p{
    text-align: center;
}

.author a p:hover
{
   color: hsl(0, 0%, 0%);
   transition: 1s ease;
}

.myform
{
    max-width: 100%;
}
.columns-4
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}
.columns-3
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
}
.columns-2
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}
.column
{
    display: grid;
    grid-template-columns: 100%;
}

@media (max-width:479px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}
@media (max-width:1024px) {

    header{
        height: 2vh;
        margin-bottom: 2em;
    }

    .crud__table table
    {
       margin: 5em 0;
    }
    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 3.5em;
        width: 3.5em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}
@media (max-width:1247px)
{
    form label
    {
        font-size: 0.9rem;
    }
}
@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-inputs input, 
    .crud__form-inputs textarea,
    .crud__form-inputs select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .footer-element p{
        font-size: 1.5em;
    }
}



